
/*table style*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    color:#126887;
}

/*overview style*/
#beveragesList {
    
}

.button {
    background-color: rgb(39, 39, 237);
    border: 2px solid;
    border-color: rgb(39, 39, 237);
    color: white;
    text-align: center;
    border-radius: 6px;
}

#submit {
    background-color: rgb(26, 146, 24);
    border-color: rgb(26, 146, 24);
}

#submit:hover {
    background-color: rgb(87, 196, 85);
}

#reset {
    background-color: rgb(205, 47, 47);
    border-color: rgb(205, 47, 47);
}

#reset:hover {
    background-color: rgb(218, 81, 81);
}

.button:hover {
    background-color: rgb(40, 92, 234);
}

#dialogDelete {
    position: flex;
    top: 50%;
    left: 50%;
    border: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*General page*/
.bodylog {
    background: #ABCDEF;
    font-family: Assistant, sans-serif;
    display: flex;
    min-height: 90vh;
}

.log {
    color: white;
    background: #126887;
    background: linear-gradient(to right, #1a7069, #126887);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 8px;
    margin: auto;
    padding: 45px;
}
